{
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "css-modules"
  ],
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended"
  ]
}
