body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.posts,
.comments {
  width: 35%;
  margin: 0 auto;
  flex-wrap: wrap;
}
h4.red-text {
  text-align: center;
  color: red;
}
.comments {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 2rem auto;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.post,
.postEdit,
.commentEdit {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 2rem 1.25em 1em 1.25em;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.postEdit,
.commentEdit {
  width: 45%;
  margin: 2rem auto;
  padding: 10px;
}
.postEdit input,
textarea {
  width: 100%;
}
.postEdit .post-header,
.commentEdit .comment-body {
  display: block;
}
.post-header,
.post-body,
.post-info,
.comment-options,
.comment-body,
.comment-info {
  padding: 10px;
  background: white;
  margin: 10px;
  display: flex;
  border-radius: 5px;
  text-align: center;
}
.commentEdit .comment-author {
  margin: 10px auto;
}
.comment {
  padding: 10px;
  background: #ddd;
  margin: 10px;
  display: block;
  border-radius: 5px;
  text-align: center;
}
.post-title {
  font-weight: 300;
  font-size: 2em;
  width: 100%;
}
.pure-button {
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-secondary {
  background: rgb(66, 184, 221);
}
.button-error {
  background: rgb(202, 60, 60);
}
.button-yellow {
  background: rgb(223, 117, 20);
}
.button-green {
  background: rgb(28, 184, 65);
}
.post-options {
  width: 100%;
  margin: 0px 10px;
  display: inline-flex;
}
.post-options div,
.comment-options div {
  margin-right: 10px;
}
.post-body {
  display: block;
}
.post-info {
  display: block;
}
.post-info span,
.comment-info span {
  margin: 10px;
  padding: 10px;
}
