.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}

.headerTitle a {
  color: #333;
  text-decoration: none;
}

.headerTitle a h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

.headerCategories a {
  min-width: 180px;
  padding: 0px 50px;
  font-weight: 300;
  color: #888;
}

.headerOptions {
  padding: 5px 0px;
}

.headerCategories {
  padding: 20px 0px;
}

.selectorFilter {
  height: 32px;
  margin-right: 15px;
}

.headerTitle {
  margin: 0.2em 0;
  width: 100%;
}
